<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <style type="text/css">
      th:tr{
          color: blue;

      }
      tr:nth-of-type(2n){
          border: 1px solid black;
          background-color: rgba(150, 150, 150, 0.5);

      }

      td{
          padding: 8px 8px;
          border: 1px solid black;
      }
  </style>
    <body>
        <p><strong>Summary for file</strong> <a href=""> {{file_id}}</a></p>
        <p>{{file_content}}</p>


        <p>&nbsp;</p>
        <p>Found total of {{ phrases|length }} noun phrases.</p>


        <ul>
        {%- for phrase in phrases %}
            <li>
              <a href="{{url_for('search_phrase_in_bioportal', phrase=phrase['phrase'])}}">{{ phrase["phrase"] }}</a>
                <ul>
                {%- for val in phrase["ontologies"] %}
                  <li>{{val}}</li>
                {%- endfor %}
                </ul>
            </li>

        {%- endfor %}

        <!--
         <table>
         <thead>
             <th>Phrases</th>
         </thead>

         <tbody>
         {%- for phrase in phrases %}
            <tr>
              <td><a href="{{url_for('search_phrase_in_bioportal', phrase=phrase[key])}}">{{ phrase }}</a></td>
            </tr>
         {%- endfor %}
         </tbody>
         </table>
         -->
    </body>
</html>